/*
 *  Typora 主题 - PinkFaiey
 *  作者 - ShimuGuyue
 *  GitHub - https://github.com/ShimuGuyue/typora-theme-PinkFairy
 *
 ***************************************************
 *
 *  本主题主要基于 Fugu 主题修改而来
 *  Fugu 主题 - https://github.com/sinlatansen/typora-theme-Fugu
 *
**/

/*
  *=============================
  * 主题全局变量
  *=============================
*/

:root {
  --color-pink-soft:         #FF9EC8;       /* 柔粉 */
  --color-pink-hot:          #FF77CC;       /* 艳粉 */
  --color-pink-light:        #ffaaff;       /* 浅粉 */
  --color-pink-bright:       #FFEEF8;       /* 亮粉 */
  --color-purple-herrscher : #6D6AA7;       /* 侵蚀紫 */
}

/*
  *=============================
  * 标题样式
  *=============================
*/

/** 标题字体和颜色 */
#write h1,
#write h2,
#write h3,
#write h4,
#write h5,
#write h6 {
    font-family: "微软雅黑";            /* 标题字体 */
    margin: 0.8em 0 0.8em;              /* 标题外边距 */
    color: var(--color-pink-soft);      /* 标题颜色 */
}

/** 标题标识符 */
#write h1::before {
  content: "❀ ";       /* 一级标题前缀 */
}
#write h1::after {
  content: " ❀";       /* 一级标题后缀 */
}
#write h2::before {
  content: "➳ ";       /* 二级标题前缀 */
}
#write h2::after {
  content: " ➳";       /* 二级标题后缀 */
}
#write h3::before {
  content: "☙ ";       /* 三级标题前缀 */
}
#write h3::after {
  content: " ☙";       /* 三级标题后缀 */
}
#write h4::before {
  content: " ♥ ";      /* 一级标题前缀 */
}
#write h4::after {
  content: " ♥";       /* 一级标题前缀 */
}
#write h5::before {
  content: " ♪ ";      /* 二级标题前缀 */
}
#write h5::after {
  content: " ♪";       /* 三级标题后缀 */
}
#write h6::before {
  content: "❖ ";      /* 六级标题前缀 */
}
#write h6::after {
  content: " ❖";      /* 六级标题前缀 */
}

/** 标题字号 */
#write h1 {
    font-size: 2.5rem;   /* 一级标题字号 */
}
#write h2 {
    font-size: 2.0rem;   /* 二级标题字号 */
}
#write h3 {
    font-size: 1.8rem;   /* 三级标题字号 */
}
#write h4 {
    font-size: 1.55rem;  /* 四级标题字号 */
}
#write h5 {
    font-size: 1.35rem;  /* 五级标题字号 */
}
#write h6 {
    font-size: 1.2rem;   /* 六级标题字号 */
}

/*
  *=============================
  * 分割线样式
  *=============================
*/

hr {
  background-image: repeating-linear-gradient(  
    -45deg,
    var(--color-pink-soft),
    var(--color-pink-soft) 6px,
    transparent 8px,
    transparent 12px
  );                /* 斜向粉红条纹 */
  height: 3px;      /* 分割线高度 */
  margin: 25px, 0;  /* 分割线外边距 */
}

/*
  *=============================
  *文本排版样式
  *=============================
*/

/** 常规文本样式 */
#write {
  max-width: 1000px;          /* 最大宽度 */
  overflow-wrap: break-word;  /* 自动换行 */
  margin-bottom: 60rem;       /* 底部空白 */
  font-size: 1.20rem;         /* 字号 */
  line-height: 1.6;           /* 行高 */
  font-family: "新宋体";      /* 字体 */
  font-weight: bold           /* 加粗 */
}

/** 斜体文本样式 */
#write em
{
  font-family: "Consolas", "华文行楷";   /* 斜体字体 */
  font-size: 1.3rem;         /* 字号 */
  margin-right: 0.3em;   /* 与右侧文本拉开距离 */
}

/** 加粗文本样式 */
#write strong {
  font-size: 1.3rem;            /* 字号增大 */
  color: var(--color-pink-hot); /* 粗体颜色 */
}

/** 链接文本样式 */
#write a {
  color: var(--color-pink-light); /* 链接文本颜色 */
}
#write .md-p a,
#write .md-heading a {
  word-wrap: break-word;              /* 链接自动换行 */
  text-decoration: underline solid;   /* 链接文本下划线 */
  margin: 2px;                        /* 链接文本侧边距 */
}

/** 高亮文本样式 */
mark {
  background: var(--color-pink-bright);   /* 高亮背景颜色 */
  padding: 1px 0.15rem;                   /* 高亮内边距 */
  color: var(--color-pink-hot);           /* 高亮字体颜色 */
}

/** 删除文本样式 */
#write del, 
#write s {
  background-color: var(--color-purple-herrscher);  /* 删除元素背景颜色 */
  color: var(--color-purple-herrscher);             /* 文本颜色与背景颜色相同，用于隐藏文本 */
  border: 1px solid var(--color-purple-herrscher);  /* 边框 */
  padding: 0.1em 0.3em;                             /* 内边距：上下0.1em，左右0.3em */
  border-radius: 3px;                               /* 圆角 */
  text-decoration: none;                            /* 移除删除线 */
  transition: all 0.2s ease;                        /* 属性变化过渡时间 */
}
/* 鼠标悬停状态 */
#write del:hover, 
#write s:hover {
  background-color: var(--color-pink-bright);   /* 悬停背景颜色 */
  color: var(--color-pink-soft);                /* 悬停文本颜色 */
  border: 1px dashed var(--color-pink-soft);    /* 粉色虚线边框 */
}

/** 列表样式 */
#write ul,
#write ol {
  padding-left: 2em;    /* 缩进距离 */
}
/* 无序列表 */
#write ul {
  list-style: none;     /* 移除默认符号 */
  margin-left: -1.2em;  /* 整体左移 */
}
#write ul li {
  position: relative;   /* 符号定位 */
  padding-left: 1.2em;  /* 符号与文本距离 */
}
#write ul li::before {
  content: "❀";                  /* 符号 */
  position: absolute;             /* 符号定位 */
  left: -0.5em;                   /* 父元素的左侧距离 */
  color: var(--color-pink-soft);  /* 符号颜色 */
}
#write ul ul li::before {
  content: "➳";                  /* 符号 */
  position: absolute;             /* 符号定位 */
  left: -0.5em;                   /* 父元素的左侧距离 */
  color: var(--color-pink-soft);  /* 符号颜色 */
}
/* 有序列表 */
#write ol {
  list-style: none;                     /* 移除默认数字 */
  counter-reset: ol-digit-counter;      /* 数字计数器 */
}
#write ol li {
  position: relative;                   /* 符号定位 */
  padding-left: -1.2em;                 /* 符号与文本距离 */
  counter-increment: ol-digit-counter;  /* 递增数字计数器 */
}
#write ol li::before {
  content: counter(ol-digit-counter) "."; /* 显示计数器数字 */
  position: absolute;                     /* 符号定位 */
  left: -3em;                             /* 父元素的左侧距离 */
  width: 2.5em;                           /* 序号宽度 */
  text-align: right;                      /* 对齐方式 */
  color: var(--color-pink-soft);          /* 数字颜色 */
}
#write ol ol {
  list-style: none;                     /* 移除默认数字 */
  counter-reset: ol-roman-counter;      /* 罗马计数器 */
}
#write ol ol li {
  position: relative;                   /* 符号定位 */
  padding-left: -1.2em;                 /* 符号与文本距离 */
  counter-increment: ol-roman-counter;  /* 递增罗马计数器 */
}
#write ol ol li::before {
  content: counter(ol-roman-counter, lower-roman) ".";  /* 显示罗马计数器数字 */
  position: absolute;                                   /* 符号定位 */
  left: -3em;                                           /* 父元素的左侧距离 */
  width: 2.5em;                                         /* 序号宽度 */
  text-align: right;                                    /* 对齐方式 */
  color: var(--color-pink-soft);                        /* 数字颜色 */
}

/** 引用块文本样式 */
#write blockquote {
  display: block;                                   /* 独立区块 */
  font-size: 1em;                                   /* 字体大小 */
  overflow: visible;                                /* 溢出时完整显示 */
  border-left: 10px solid var(--color-pink-light);  /* 引用块左侧条框 */
  padding: 15px 30px 15px 20px;                     /* 引用块内边距 */
  margin-bottom: 20px;                              /* 引用块底部外边距 */
  margin-top: 20px;                                 /* 引用块顶部外边距 */
  background-color: var(--color-pink-bright);       /* 引用块背景 */
  color: var(--color-pink-hot);                     /* 引用块文本颜色 */
  border-radius: 8px;                               /* 引用块圆角 */
}

/*
  *=============================
  * 代码块样式
  *=============================
*/

/** 行内代码样式 */
#write code {
  color: var(--color-pink-peach);                 /* 代码文字颜色 */
  font-size: 1.2rem;                              /* 字体大小 */
  word-wrap: break-word;                          /* 换行时长单词在任意字符间断行 */
  margin: 1px;                                    /* 外边距 */
  background-color: var(--color-pink-bright);     /* 背景颜色 */
  font-family: "新宋体";                          /* 字体 */
  word-break: break-all;                          /* 允许在任意字符间断词，防止溢出 */
}

